html,body								{ height:100%; font-weight: 300; background-color: #FEFCFE; color: #252424; font-size: 14px; font-family: 'Montserrat', sans-serif; }
#wrap										{ min-height:100%; height:auto !important; height:100%; margin:0 auto -60px; }  
#footer									{ font-size: 12px; background-color: #FEFCFE; color: #252424;  }